{%extends "/shared/admin_layout.html" %}

{% block title %}Issue Reserved Books - View {% endblock %}

{% block content %}
<div class="container">
    <div style="width:100%; margin-top: 3em;">
        {% if msg %}
        <div class="alert alert-success">{{msg}}</div>
        {% endif %}
        <form action="/admin/books/filtersearch" method="GET">
            <div class="form-group">
                <div style="width: 100%">
                    <div style="width: 90%; display: inline-block;">
                        <input type="search" name="keyword" autofocus class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" value="{{keyword}}" placeholder="Search for User / books...">
                    </div>
                    <button type="submit" style="margin-left: 5px;" class="btn btn-primary">Filter</button>
                </div>
            </div>
        </form>
    </div>

    <div>
        <h2>Issue Reserved Books </h2>
        {% if books %}
        {% for book in books %}
        <div class="card book">
            <div class="card-body">
                <h5 class="card-title">{{book['username']}}</a></h5>
                <p class="card-text bookdesc">{{book["mob"]}}</p>
                <p class="card-text bookdesc">{{book["email"]}}</p>
                <h5 class="card-title"><a href="{{book['id']}}">{{book['name']}}</a></h5>
                {% if book["availability"] < 1 %} <span class="badge badge-warning" style="margin-bottom: 5px;">
                    Assigned</span>
                    {% endif %}
                    <p class="card-text bookdesc">{{book["desc"]}}</p>

                    <p class="card-text">
                        <span class="badge badge-{{ 'success' if book['availability'] > 0 else 'danger' }}"
                            style="margin-bottom: 5px;">
                            {% if book["count"] > 0%}
                            Books Left: {{book['count']}}
                            {% else %}
                            All gone
                            {% endif %}
                        </span>
                    </p>
                    <form method="get" action="">
                        <a href="issuebook/{{book['id']}}" class="btn btn-outline-primary">
                            <i class="bi bi-pen-fill"></i> Issue Book
                        </a>
                    </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No Books In Stash!</p>
        {% endif %}
    </div>
</div>
{% endblock %}